@model IEnumerable<BOLayer.Product>
@{
    ViewBag.Title = "AddToCard";
    int TotalRecords = 0;

}

<h2>Card Item</h2>
<table width="100%">
    <tr>
        <td width="50%">
            <p>
               
                @foreach (BOLayer.Product product in Model)
                {
                    @TotalRecords
                                    <p><b>@product.Title</b></p>
                    <p>Unit Price : @product.UnitPrice</p>
                    <p>
                        Quantity : <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </p>
                    <p>
                         @Html.ActionLink("Remove Item From Cart", "RemoveFromcart", "Shoppincart", new { name =@product.Title }, null)  |
                        @Html.ActionLink("Clear Cart", "dropcart", "Shoppincart")
                        @Html.ActionLink("Order", "Orders", "Orders")
                        @Html.ActionLink("Continue Shopping", "Index", "Products")

                    </p>
                }
                </p>
            </td>
            <td>
                @*@int TotalItem = 0;*@
                <p><b>Billing Calculation</b>&nbsp;&nbsp;&nbsp;
                Number Of Items : TotalRecords</p>
                <p>
                    <table>
                        <tr>
                            <th>Item Name</th>
                            <th>Unit Price</th>
                        </tr>
                        
                        @foreach (BOLayer.Product product in Model)
                        {
                             <tr>
                            <td>
                <p><b>@product.Title</b></p>
            </td>
            <td>                    <p> @product.UnitPrice</p></td>
        </tr>

            }
    <tr>
        <td>
            Total : 
        </td>
        <td>
            <b> 

  </b>
        </td>
    </tr>
    </table>
                    </p>
                    </td>
                    </tr>
                    </table>

                       
   
