@model IEnumerable<BOLayer.Product>
@{
    ViewBag.Title = "AddToCard";
    int TotalRecords = 0;

}

<h2>Card Item</h2>
<table width="100%">
    <tr>
        <td width="50%">

        @foreach (BOLayer.Product product in Model)
        {
           
                <p><b>@product.Title</b></p>
                <p>Unit Price : @product.UnitPrice</p>
                <p>Quantity : @product.Quantity</p>
                <p>Total :@product.Total</p>
                
                
                @Html.ActionLink("Proceed to payment",null)  
                @Html.ActionLink("Cancel", "Cancel", "Orders", new { name =@product.Title }, null)  

         }
    
     
 </td>
   </tr>
    </table>
                  
   
